*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: tomato;
  --text-color: #333;
  --bg-ligh: #f9f9f9;
  --font-main: "Poppins", sans-serif;
}

body{
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--bg-ligh);
  line-height: 1.6;
  position: relative;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

nav ul {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 4px 6px;
  border-radius: 5px;
  font-weight: 500;
}

nav ul li a:hover{
  background-color: var(--primary-color);
  color: var(--bg-ligh);
}

.hero {
  background: url("https://images.pexels.com/photos/3184325/pexels-photo-3184325.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--bg-ligh);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  margin-top: 72px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  /* top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; */
  inset: 0;
}

/* Hero Content styles  */
.hero-contain {
  position: relative;
  padding: 20px;
  max-width: 600px;
  z-index: 2;
}

/* Hero section h1 span style  */

.hero-contain h1 span {
  color: var(--primary-color);
}

/* Hero Section Button style  */
.hero-contain button {
  background-color: var(--primary-color);
  color: var(--bg-ligh);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Hero Section Button hover style  */
.hero-contain button:hover {
  /* opacity: 0.8; */
  filter: brightness(80%);
}

/* About Section style */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
  gap: 40px;
}

.about img {
  width: 200px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
}

.about-text p {
  text-align: justify;
  margin-top: 10px;
}

/* Skills Section style  */

.skills {
  padding: 60px 80px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow: auto;
  margin-top: 20px;
}

.skill {
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-weight: bold;
}

.skill:hover {
  background: #ddd;
  cursor: pointer;
}

footer {
  background: #fff;
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #ddd;
  text-align: center;
}