*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;
    height: 100vh;
}

.item{
    background-color: blue;
    margin: 1px;
}

.item:first-child{
    flex-grow: 1;
}

.item:nth-child(2){
    flex-grow: 2;
}

.item:nth-child(3){
    flex-shrink: 1;
}
.item:last-child{
    flex-grow: 3;
}