*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.grid-item{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}